<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <%- body %>
        </main>
    
        <%- include('../partials/footer') %>
    </div>
    
    <% if (typeof script !== 'undefined') { %>
        <script src="<%= script %>"></script>
      <% } %>
</body>
</html>